/* CSS Document */

body{
	padding: 0px;
	margin: 0px;
	background: url(images/main-bg.gif) 0 0 repeat-x #fff;
	color: #5F7A77;
	font: 13px/19px Arial, Helvetica, sans-serif;
}

div, p, ul, h2, h3, h4, h5, img{
	padding: 0px;
	margin: 0px;
}

ul{
	list-style-type: none;
}

.justify{
	text-align: justify;
}

/*----TOP PANEL----*/

#topPan {
	width: 778px;
	height: 65px;
	background: url(images/topbg.jpg) 0 0 no-repeat #fff;
	color: #828282;
	position: relative;
	margin: 0 auto;
}

	#topPan img.logo {
		width: 136px;
		height: 31px;
		position: absolute;
		top: 12px;
		left: 235;
	}

	